EXPO_ROUTER_DISABLE_RN_NAVIGATION_CHECK=1
EXPO_PUBLIC_MOCK_API_DELAY_MS=800
EXPO_PUBLIC_SESSION_TTL_DAYS=7
EXPO_PUBLIC_AVIATIONSTACK_API_KEY=xxx
EXPO_PUBLIC_AVIATIONSTACK_BASE_URL=http://api.aviationstack.com/v1
